<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<input type="text" id="text">
<button id="btn">Send</button>
<br>
<button id="joinRoom">Join Room</button>

<br>
<input type="text" id="text_to_room">
<button id="btn_to_room">Send to room</button>

<script src="/socket.io/socket.io.js"></script>

<script>
    const socket = io();

    const btn = document.getElementById('btn');
    const text = document.getElementById('text');

    const btn_to_room = document.getElementById('btn_to_room');
    const text_to_room = document.getElementById('text_to_room');
    const joinRoom = document.getElementById('joinRoom');

    btn_to_room.onclick = () => {
        socket.emit('msg', text_to_room.value)
    };

    joinRoom.onclick = () => {
        socket.emit('joinRoom', {room_id: '2'})
    };

    socket.on('msg_resp', (data) => {
        const divka = document.createElement('div');

        divka.style.border = `2px solid yellow`;
        divka.innerText = `Message: ${data}`;

        document.body.appendChild(divka);
    });

    btn.onclick = () => {
        socket.emit('message', text.value);
        text.value = '';
    };

    socket.on('respMessage', resp => {
        const divka = document.createElement('div');

        divka.style.border = `2px solid green`;
        divka.innerText = `User: ${resp.id} \n Message: ${resp.data}`;

        document.body.appendChild(divka);

        console.log(resp.id);
        console.log(resp.data);
    });

    socket.on('user_disc', data => {

        const divka = document.createElement('div');

        divka.style.border = `1px solid red`;
        divka.style.padding = `5px`;
        divka.innerText = `User: ${data.id} is disconnect`;

        document.body.appendChild(divka);
    })

</script>

</body>
</html>